<p style="color: green"><%= notice %></p>

<%= render @profile %> 

<% if user_signed_in? && @profile.user_id == current_user.id%>
    
    <%= link_to t("Edit"), edit_profile_path(@profile) ,class:"btn btn-primary" %> 
    </div>
<% end %>

<a href="/" id="yes" class="btn btn-primary"> <%=t'Back to Home'%></a>

        