<p style="color: green"><%= notice %></p>

<%= render @profile %> 
<% if current_user.id == @profile.id %>
    <%= link_to "Edit this profile", edit_profile_path(@profile) %> 
    </div>
<% end %>

<a href="/" id="yes">homepage</a>