<div id="<%= dom_id group_post %>">
  <p>
    <strong>Content:</strong>
    <%= group_post.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= group_post.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_post.group_id %>
  </p>

</div>
