<h1>Editing group post</h1>

<%= render "form", group_post: @group_post %>

<br>

<div>
  <%= link_to "Show this group post", @group_post %> |
  <%= link_to "Back to group posts", group_posts_path %>
</div>
