<div id="<%= dom_id comment %>">
<div class="card">
  <div class="card-body">
  <br>
   <%= comment.body %>
      <%#=link_to 'reply', new_post_comment_path(@post, parent_id: comment.id), remote: true, class: 'd-block' %>
      <div class = "btn-group float-end">
         <%= link_to "Edit", comment ,class:"btn btn-warning" %>
        <%= button_to "Delete", [@post, comment], class:"btn btn-danger", method: :delete %>
      </div>
      </div>
  </div>

