<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
   
   <h5 class="card-title"><%= link_to group.name, group_path(group) %></h5>

 
    </div>      

  
    
</div>
<%end%>

<%= link_to "New group", new_group_path %>

