<div class="card my-5">
  <div class="card-body">
    <h1><%= t'new' %></h1>

    <%= render 'form', post: @post %>

    <%= link_to t('back'), posts_path, class: 'btn btn-light mt-2' %>
  </div>
</div>