<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="btn btn-primary">
     <%= t 'notifications'%> <span class="badge bg-secondary">4</span>
      </span>
    </a>

  </li>
<% end %>